node_modules/
dist/
out.js
*.log
/tmp/
/var/backups/
/WAProto/*.esm.back.*
/WAProto/index.cjs
/*.tgz
.env
.DS_Store
/.vscode/
*.local
npm-debug.log*
package-lock.json
node_modules/
lib/
scripts/
wa-logs.txt
baileys_auth_info/
*.tsbuildinfo
